extends base

block vars
  - var title = 'Register'
  - var css   = 'public/css/login.css'

block body
  div.container.sign-container
    div.row
      div.medium-10.medium-offset-1
        div.form-register
            h1.register REGISTER
            form(action="/register" method="POST")
              //- input(type="hidden" name="_csrf" value=csrfToken)
              div.input-block
                img(src="public/images/icons/user.png" alt="User Icon" class="icon-img")
                input(type="text" name="firstName" placeholder="First name" require=true class="input")
              div.input-block
                img(src="public/images/icons/user.png" alt="User Icon" class="icon-img")
                input(type="text" name="lastName" placeholder="Last name" require=true class="input")
              div.input-block
                img(src="public/images/icons/medId.png" alt="Medical ID Icon" class="icon-img")
                input(type="text" name="medId" placeholder="Medical ID" require=true class="input")
              div.input-block
                img(src="public/images/icons/user.png" alt="User Icon" class="icon-img")
                input(type="email" name="email" placeholder="Email" require=true class="input")
              div.input-block
                img(src="public/images/icons/password.png" alt="Password Icon" class="icon-img")
                input(type="password" name="password" placeholder="Password" require=true class="input")
              button(type="submit" class="button") REGISTER
      div.medium-10.medium-offset-1
        div.account-block
          div.account
            p.no-account Have an account? #[a(href="/login" class="go-sign") Sign in]