extends base

block vars
  - var title = 'Register'
  - var css   = 'public/css/login.css'

block body
  div.container.sign-container
    div.row
      div.medium-10.medium-offset-1
        div.form-register
            h1.register REGISTER
            form(action="/register" method="POST")
              //- input(type="hidden" name="_csrf" value=csrfToken)
              div.input-block
                i.material-icons.icon-img account_circle
                input(type="text" name="firstName" placeholder="FIRST NAME" require=true class="input")
              div.input-block
                i.material-icons.icon-img account_circle
                input(type="text" name="lastName" placeholder="LAST NAME" require=true class="input")
              div.input-block
                i.material-icons.icon-img fingerprint
                input(type="text" name="medId" placeholder="MEDICAL ID" require=true class="input")
              div.input-block
                i.material-icons.icon-img email
                input(type="email" name="email" placeholder="EMAIL" require=true class="input")
              div.input-block
                i.material-icons.icon-img lock
                input(type="password" name="password" placeholder="PASSWORD" require=true class="input")
              button(type="submit" class="button") REGISTER
      div.medium-10.medium-offset-1
        div.account-block
          div.account
            p.no-account Have an account? #[a(href="/login" class="go-sign") Sign in]