extends base

block vars
  - var title = 'Register'
  - var css   = 'public/css/login.css'

block body
  div.container
    div.row
      div.medium-8
        h1 Register with us
        form(class="form" method="POST")
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="text" name="firstName" placeholder="First name" require=true)
          input(type="text" name="lastName" placeholder="Last name" require=true)
          input(type="text" name="medId" placeholder="Medical ID" require=true)
          input(type="email" name="email" placeholder="Email" require=true)
          input(type="password" name="password" placeholder="Password" require=true)
          input(type="submit")