extends base

block vars
  - var title = 'Register'
  - var css   = 'public/css/login.css'

block body
  div.container.sign-container
    div.row
      div.medium-10.medium-offset-1
        div.form
          form(class="form" method="POST")
            h1 Register with us
            form(class="form" method="POST")
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="text" name="firstName" placeholder="First name" require=true)
              input(type="text" name="lastName" placeholder="Last name" require=true)
              input(type="text" name="medId" placeholder="Medical ID" require=true)
              input(type="email" name="email" placeholder="Email" require=true)
              input(type="password" name="password" placeholder="Password" require=true)
              input(type="submit")
      div.medium-10.medium-offset-1
        div.account-block
          div.account
            p.no-account Have an account? #[a(href="/register" class="go-sign") Sign in]